---
import Headings from "../../components/Headings.astro"
import IFrame from "../../components/IFrame.astro"

import { getEntryBySlug } from "astro:content"
import Layout from "../../layouts/Layout.astro"

const { slug } = Astro.params

if (slug === undefined) {
  throw new Error("Slug is required")
}

const entry = await getEntryBySlug("articles", slug)

if (entry === undefined) {
  return Astro.redirect("/404")
}

const { title, nextLink, video, githubLink } = entry.data

const { Content } = await entry.render()

const blog = slug.split("/")[0]
const article = slug.split("/")[1]

const github = "https://www.github.com/jazzypants1989"

const demoFolder = `${github}/jesseddit/tree/main/src/pages/demos/${blog}/${article}/`

const repo = `${github}/${blog}/tree/main/${article}`

let others = ["Home", "About", "Portfolio"]
---

<title>{title}</title>
<Layout now="Blog" others={others} title={title}>
  <main
    class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8 bg-blue-200 rounded-lg shadow-2xl dark:bg-gray-800"
  >
    <a
      class="cursor-pointer bold text-blue-600 hover:text-purple-700 dark:text-purple-500 dark:hover:text-blue-400 bg-blue-200 dark:bg-gray-700 rounded-2xl shadow-2xl px-2 py-1 my-2"
      href={`/blog/${blog}`}
    >
      Back to Table of Contents
    </a>
    <h1
      class="text-4xl font-bold text-center text-purple-600 dark:text-purple-400"
    >
      {title}
    </h1>
    <img
      src="/Cat.svg"
      class="w-24 h-24 mx-auto my-4"
      alt="What CoPilot thinks a cat looks like"
    />
    <p class="text-center text-purple-600 dark:text-purple-400 text-xl">
      By Jesse Pence
    </p>
    {video && <IFrame id="ytplayer" src={video} allowfullscreen />}
    <article
      class="prose p-2 max-w-none prose-lg flex flex-col justify-center items-center tracking-wide bg-blue-200 rounded-lg shadow-2xl dark:bg-gray-800 text-gray-800 dark:text-gray-200 dark:prose-DARK indent-8"
    >
      {article !== "1-introduction" ? <Headings /> : <h1>Hey there!</h1>}
      <Content />
    </article>
    <div class="flex items-center justify-between w-full h-24 mt-4 text-center">
      <a
        class="cursor-pointer bold text-blue-600 dark:text-blue-500 hover:text-purple-700 dark:hover:text-blue-400 bg-blue-200 dark:bg-gray-700 rounded-2xl text-sm md:text-base shadow-purple-400 drop-shadow shadow-2xl px-2 py-1 hover:shadow-lg hover:shadow-purple-500 transition-all duration-700 ease-in-out"
        href={`/blog/${blog}`}
      >
        Table of Contents
      </a>
      <a
      class="cursor-pointer bold text-blue-600 dark:text-blue-500 hover:text-purple-700 dark:hover:text-blue-400 bg-blue-200 dark:bg-gray-700 rounded-2xl text-sm md:text-base shadow-purple-400 drop-shadow shadow-2xl px-2 py-1 hover:shadow-lg hover:shadow-purple-500 transition-all duration-700 ease-in-out"
      href={`/blog/${blog}#comments`}
      >
      Comments 
      </a>
      {
        githubLink === "demoFolder" ? (
          <a
            class="cursor-pointer bold text-green-700 dark:text-green-400 dark:hover:text-green-300 bg-blue-200 dark:bg-gray-700 rounded-2xl text-sm md:text-base shadow-green-400 drop-shadow shadow-2xl px-2 py-1 hover:shadow-lg hover:shadow-green-700 transition-all duration-700 ease-in-out"
            href={demoFolder}
            id="github-link"
          >
            View Source Code
          </a>
        ) : githubLink === "repo" ? (
          <a
            class="cursor-pointer bold text-green-700 dark:text-green-400 dark:hover:text-green-300 bg-blue-200 dark:bg-gray-700 rounded-2xl text-sm md:text-base shadow-green-400 drop-shadow shadow-2xl px-2 py-1 hover:shadow-lg hover:shadow-green-700 transition-all duration-700 ease-in-out"
            href={repo}
            id="github-link"
          >
            View Source Code
          </a>
        ) : (
          <></>
        )
        }
      {
        nextLink === "/blog" ? (
          <a
            href="/blog"
            class="cursor-pointer text-blue-500 hover:text-purple-700 bold text-xl md:text-3xl bg-blue-200 dark:bg-gray-700 rounded-2xl shadow-2xl shadow-purple-400 p-2 hover:shadow-lg hover:shadow-purple-500 transition-all duration-700 ease-in-out"
          >
            Other Articles!
          </a>
        ) : (
          <a
            class="cursor-pointer bold text-blue-600 dark:text-blue-500 hover:text-purple-700 dark:hover:text-blue-400 text-xl md:text-3xl bg-blue-200 dark:bg-gray-700 rounded-2xl shadow-2xl shadow-purple-400 p-2 hover:shadow-lg hover:shadow-purple-500 transition-all duration-700 ease-in-out"
            href={nextLink}
          >
            Next Page!
          </a>
        )
      }
    </div>
  </main>
</Layout>
