---
import prisma from "../../utils/db"
import Layout from "../../layouts/Layout.astro"

import type { Comment } from "@prisma/client"
import ToC from "../../components/ToC.astro"
import CommentList from "../../components/comments/CommentList"
import IFrame from "../../components/IFrame.astro"
import type { PostProps } from "../../components/comments/CommentItem"
import PostLike from "../../components/comments/PostLike"

type CommentWithUser = Comment & {
  user: { login: string; avatar_url: string }
  avatar_url: string
  html_url: string
}

let others = ["Home", "About", "Contact", "Portfolio"]

const permalink = Astro?.params?.permalink?.toString()

async function getPost() {
  const post = await prisma.post.findUnique({
    where: {
      permalink,
    },
    include: {
      user: true,
      likes: true,
      comments: {
        include: {
          user: true,
          likes: true,
        },
        orderBy: {
          createdAt: "desc",
        },
      },
    },
  })

  if (!post) {
    Astro.redirect("/")
  }

  return post as PostProps
}

const post = await getPost()

if (!post) {
  Astro.redirect("/")
}

let { title, body, likes, createdAt, updatedAt, comments } = post

const userCookie = Astro.cookies.get("user")?.value ?? null

const user = userCookie ? JSON.parse(userCookie) : {}

const userInDB =
  user && user.login
    ? await prisma.user.findUnique({
        where: {
          login: user.login,
        },
      })
    : null

if (!userInDB && user.login) {
  await prisma.user.create({
    data: {
      login: user.login,
      id: user.id,
      avatar_url: user.avatar_url,
      html_url: user.html_url,
      location: user.location,
      name: user.name,
      email: user.email,
      twitter_username: user.twitter_username,
    },
  })
}
---

<Layout now="Blog" others={others}>
  <div class="flex justify-center items-center max-w-2xl mx-auto">
    <div
      class="flex flex-col justify-center items-center w-full max-w-2xl p-4 mx-auto my-8 bg-blue-200 rounded-lg shadow-md dark:bg-gray-800"
    >
      <h1 class="text-3xl font-bold text-gray-800 dark:text-white">{title}</h1>
      <p class="mt-2 text-xl text-black dark:text-gray-300">{body}</p>
      <span id="likes" class="mt-2 text-sm text-gray-600 dark:text-gray-400">
        <PostLike post={post} user={user} client:only />
      </span>
      <span
        id="createdAt"
        class="mt-2 text-sm text-gray-600 dark:text-gray-400"
      >
        Created: {new Date(createdAt).toLocaleString()}
      </span>
      {
        updatedAt !== createdAt && (
          <span
            id="updatedAt"
            class="mt-2 text-sm text-gray-600 dark:text-gray-400"
          >
            Updated: {new Date(updatedAt).toLocaleString()}
          </span>
        )
      }
      {
        permalink === "into-the-future" && (
          <IFrame src="https://www.youtube.com/embed/2l4OlrrjP5w" />
        )
      }
      <ToC />
      <CommentList comments={comments} post={post} user={user} client:only />
    </div>
  </div>
</Layout>
