---
import { Image } from "astro:assets"
const { src, alt, href, height, width } = Astro.props
---

<div
  class="indent-0 flex flex-col items-center justify-center p-4 m-4 text-center border border-purple-400 rounded-md shadow-md hover:shadow-lg hover:border-purple-300 hover:bg-purple-800"
>
  <a href={href} target="_blank" rel="noopener noreferrer">
    <Image
      src={src}
      alt={alt}
      width={width ?? "400"}
      height={height ?? "150"}
    />
  </a>
  <a href={href} target="_blank" rel="noopener noreferrer">
    <small>{alt}</small>
  </a>
</div>
