---
export interface Props {
  now: string
  others: Array<string>
}

const cookie = Astro.cookies?.get("user")?.value

const user = cookie ? JSON.parse(cookie) : null
---

<style>
  @media (max-width: 768px) {
    #blogLink {
      display: none;
    }

    #blogNonLink {
      display: block;
    }
  }
</style>

<ul class="text-3xl">
  {
    Astro.props.now === "Blog" ? (
      <>
        <a id="blogLink" href="/blog" class="Link">
          <li class="mb-4 rounded-full border-b-2 border-purple-600 px-4 text-center shadow-md duration-1000 hover:bg-purple-600 hover:text-white">
            Blog
          </li>
        </a>
        <li
          id="blogNonLink"
          class="mb-4 hidden rounded-full border-b-2 border-purple-600 px-4 text-center shadow-md duration-1000 hover:bg-purple-600 hover:text-white"
        >
          Blog
        </li>
      </>
    ) : (
      <li class="pointer-events-none mb-4 rounded-full border-b-2 border-purple-600 px-4 text-center shadow-md duration-1000 hover:bg-purple-600 hover:text-white">
        {Astro.props.now}
      </li>
    )
  }
  {
    Astro.props.others.map((item) => {
      if (item.toLowerCase().trim() == "home") {
        return (
          <a href="/" class="Link">
            <li class="Link m-2 rounded-full border-purple-600 p-2 text-center hover:bg-purple-600 hover:text-white hover:shadow-md">
              {item}
            </li>
          </a>
        )
      } else if (item.toLowerCase().trim() == "portfolio") {
        return (
          <a href="https://jazzypants.dev">
            <li class="m-2 rounded-full border-purple-600 p-2 text-center hover:bg-purple-600 hover:text-white hover:shadow-md">
              {item}
            </li>
          </a>
        )
      } else {
        return (
          <a href={`/${item.toLowerCase()}`}>
            <li class="m-1 rounded-full p-2 text-center hover:bg-purple-600 hover:text-white hover:shadow-md">
              {item}
            </li>
          </a>
        )
      }
    })
  }
  {
    user ? (
      <a href="/logout">
        <li class="m-1 rounded-full p-2 text-center hover:bg-purple-600 hover:text-white hover:shadow-md">
          Logout
        </li>
      </a>
    ) : (
      <a href="/login">
        <li class="m-1 rounded-full p-2 text-center hover:bg-purple-600 hover:text-white hover:shadow-md">
          Login
        </li>
      </a>
    )
  }
</ul>
